header{
  height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 68.8%);
}
main{
  display: flex;
  width: 90%;
  margin: auto;
  height: calc(100% - 165px);
  align-items: end;
  justify-content: center;
}

.portada{
  width: 40%;
}
.foto{
  width: 60%;
}

.portada{
  margin: auto;
}