
.foto{
  width: 100%;
  height: 40vw;
  object-fit: cover;
  object-position: center;
}
@media (width < 800px) {
  .portada{
    display: none;
  }
  .foto{
    width: 100%;
    height: 250px;
    object-position: center bottom;
  }
}