

header{
  height: auto;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 68.8%);
}
main{
  display: flex;
  width: 90%;
  margin: auto;
  height: calc(100% - 165px);
  align-items: end;
  justify-content: center;
}

.portada{
  width: 35%;
  max-width: 554px;
  max-height: 300px;
  object-fit: contain;
  object-position: bottom right;
}
.foto{
  width: 45%;
  max-width: 583px;
  max-height: 500px;
  object-fit: contain;
  object-position: bottom left;
}

.portada{
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}
@media (width < 800px) {
  .portada{
    display: none;
  }
  .foto{
    width: 90%;
    height: 250px;
    object-position: center bottom;
  }
}