h1{
  color: var(--Primary-500, #E31F27);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* H2/Black */
font-family: Montserrat;
font-size: 39.81px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.banner{
  display: flex;
}
.fundacion-article{
  display: flex;
  flex-direction: column;
  width: 80%;
  left: 20px;
  right: 20px;
  margin: auto;

}
.fundacion-article p{
  color: #000;
text-align: justify;

/* Paragraph 01 S/SemiBold */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.cards{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 120px;

}
.cards h4, .cards p{
  text-align: center;
}
.cartas{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width < 900px) {
  
  .cards{
    flex-direction: column;
  }

}