main{
  display: grid;
  gap: 35px;
  margin: 0 50px;
  justify-content: center;
  grid-template-columns: minmax(0, 270px) minmax(0, 270px) minmax(0, 270px) minmax(0, 270px);
}
header{
  margin-bottom: 150px;
}
h1{
  text-align: center;
  margin: 100px 0;
  font-weight: 900;
}
img{
  width: 100%;
}