main{
  display: grid;
  gap: 35px;
  margin: 0 50px;
  justify-content: center;
  grid-template-columns: minmax(0, 270px) minmax(0, 270px) minmax(0, 270px) minmax(0, 270px);
}
header{
  padding-bottom: 150px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 90%);
}
h1{
  text-align: center;
  padding: 100px 0;
  font-weight: 900;
}
img{
  width: 100%;
}