

main{
  display: grid;
  gap: 35px;
  margin: 0 50px;
  justify-content: center;
  grid-template-columns: minmax(0, 270px) minmax(0, 270px) minmax(0, 270px) minmax(0, 270px);
}
header{
  padding-bottom: 150px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 90%);
}
h1{
  text-align: center;
  padding: 100px 0;
  font-weight: 900;
}
img{
  width: 100%;
}

.swiper-noticias{
  width: 85%;
}

.swiper-pagination {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet{
  background-color: rgb(255, 149, 149);
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.swiper-pagination-active-bullet{
  background-color: red;
  width: 10px;
  height: 10px;
}


@media (width < 800px) {
  main{
    display: none;
  }
  
}

@media (width > 800px){
  .swiper-noticias{
    display: none;
  }
}