.icon-portada{
  width: 200px;
  height: auto;
}
.lista{display: flex;}

app-navegacion ul{
  border: 1px solid red;
}
.icon-a{
  display: flex;
  width: 200px;
  margin-right: 15px;
  height: 100%;
}
main{
  text-align: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 96px;
}
p{
  font-weight: 600;
  font-size: 40px;
}
